@import
	url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Righteous&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #fff;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	color: #fff;
	background-color: #564080 !important;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: 'Righteous', cursive;
}

header {
	width: 100%;
	background-color: #80B2EF;
}

header div {
	margin-left: auto;
}

.header-title {
	height: 1em !important;
	margin-top: .5em;
}

hr {
	background-color: #111;
}
/* LANDING.JSP */
#login-form {
	font-family: 'Righteous', cursive;
}

#login-form p {
	margin: 0;
	height: 2em;
}

#login-form p input {
	color: #000;
	float: right;
	border-radius: 4px;
	border: none;
}

#login {
	margin-left: 40%;
}

#landing-main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

#registration-box {
	color: #000;
	font-family: 'Righteous', cursive;
	border-radius: 2px;
	border: none;
	padding: .5em;
	background-color: #ED6146 !important;
	padding: 3em;
	width: 50%;
	margin: 5em auto;
	border-radius: 5px;
}

#register-btn {
	background-color: #80B2EF !important;
	width: 60%;
	margin: auto !important;
}

#registration-box h2 {
	text-align: center;
}

#registration-form {
	display: flex;
	flex-direction: column;
	margin: auto !important;
}

#registration-form input {
	color: #000;
	margin: 0 0 1em 0;
	border-radius: 5px;
	border: none;
	padding: .7em;
	margin: 0 0 1em 0;
}

.btn {
	background-color: #ED6146 !important;
	font-family: 'Righteous', cursive;
	margin: auto;
	color: #fff !important;
}

.row {
	padding: .5em 0 !important;
}
/*DASHBOARD.JSP*/
#dash-main {
	width: 100%;
	height: 100%:
}

#dash-token, #dash-avitar {
	margin: auto !important;
	border-radius: 5px;
}

.profile {
	background-color: #ED6146 !important;
}

#background-wrapper {
	height: 100%;
	width: 100%;
	opacity: 1;
}

#dash-gacha {
	width: 100%;
}

#open-modal {
	background-image:
		url("https://www.buyerads.com/files/images/main/header-bkg-crop2-mobile3.gif");
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	padding: 1em;
	border: none;
	margin: 1em auto;
	font-family: 'Righteous', cursive;
	padding: 1.2em;
	font-size: 1.3em;
	box-shadow: 4px 4px 4px grey;
}

#stat {
	font-size: 1.3em;
}

#modal {
	font-family: 'Righteous', cursive;
	width: 50%;
	height: 70%;
	margin: auto;
	background-color: #80B2EF;
	position: absolute;
	top: 20%;
	left: 25%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	display: none;
	font-weight:bold;
}

#modal button {
	padding: .2em;
	position: absolute;
	top: 1%;
	left: 95%;
	width:2em;
	height:2em;
	position: absolute;
	font-size: 1.2em;
	border-radius: 2px;
	border: none;
}

#modal img {
	height: 50%;
}

#modal h1 {
	text-align: center;
}

#open-box {
	background-image:
		url("https://www.buyerads.com/files/images/main/header-bkg-crop2-mobile3.gif");
	background-size: cover;
	background-position: center;
	font-size: 1.2em;
	padding: .8em;
	border-radius: 5px;
	border: none;
	font-family: 'Righteous', cursive;
	padding: .8em;
}

#dash-gacha form {
	width: auto;
}

#dash-gacha form input {
	font-family: 'Righteous', cursive;
	padding: 1em;
	margin: 1em;
	background-color: #fff;
	border: solid black 2px;
	border-radius: 5px;
}

.bodypart {
	background-color: rgba(3, 3, 3, .5) !important;
	color: #fff;
	padding: 1em;
	border-radius: 5px;
	margin: 0 auto;
}

.friend {
	margin: auto;
	font-weight: bold;
}

.search-container {
	margin: auto !important;
}

input[type=text] {
	color: #000;
	border-radius: 5px;
	border: none;
	padding: .3em;
	margin: 0 .3em;
}

#play {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#chat-btn{
	padding:1.2em 2.2em;
	font-size:1.1em;
}
.profile-btns{
	width:80%;
}
.profile-btns a{
	width:40%;
	margin:auto;
}
.enter-chat{
	position:absolute !important;
	bottom:1em;
}
/* GAME.JSP */
#chat p {
	font-family: 'Righteous', cursive;
	font-size: 1.2em;
}

#chat label {
	font-family: 'Righteous', cursive;
}

#game-board {
	display: none;
}

#chat {
	width: 100%;
}

#chat-box {
	height: 100%;
	overflow-y: auto;
}

.userAvatar {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-size: 500px 500px;
	background-position: 50% 40%;
}

.message-box:nth-child(3n+3) {
	/* Text box */
	background-image: linear-gradient(#c0539b, #c0539b, #9319e5);
	box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #19041f;
	margin: 0 20px;
	width: 275px;
}

.message-box:nth-child(3n+3)::after {
	content: "\00a0";
	display: inline-block;
}

.message-box:nth-child(3n+2) {
	/* Avatar */
	display: inline-block;
}

.message-box:nth-child(3n+1) {
	/*Seperator div*/
	
}

#chatting-as {
	padding-top: 10px;
	display: flex;
	align-items: flex-start;
	}

#creditz {
	padding-left: 10px;
	display: inline-block;
}

#game-coin {
	background-image: url("https://tetralinkz.s3-us-west-1.amazonaws.com/assets/avatars/special/coin.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 25px;
	
	position: relative;
	top: -50px;
	margin-bottom: -35px;
}

#blockCredit {
	border: none;
	background-image: url("https://tetralinkz.s3-us-west-1.amazonaws.com/assets/avatars/special/block.png");
	background-size: contain;
	width: 30px;
	height:30px;
}

/* AVATAR MODAL */

#modal-avatar {
	font-family: 'Righteous', cursive;
	display: flex;
	width: 50%;
	height: 70%;
	margin: auto;
	position: absolute;
	top: 20%;
	left: 25%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	display: none;
	font-weight:bold;
}

#modal-avatar h2 {
	position: absolute;
	background-color: #333;
	border-radius: 2px;
	padding: 20px;
	opacity: 0.5;
	top: 2%;
}

#modal-avatar button {
	padding: .2em;
	position: absolute;
	top: -9%;
	left: 48%;
	width:2em;
	height:2em;
	background-color: #333;
	position: absolute;
	font-size: 1.2em;
	border-radius: 2px;
	border: none;
}

#modal-avatar-bg {
	/* background-color: #333; */
}

#modal-avatar h1 {
	text-align: center;
}
