@import
	url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Righteous&display=swap')
	;

* {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: #564080;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: 'Righteous', cursive;
}

header {
	padding: 0 2%;
	width: 96%;
	background-color: #80B2EF;
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 8vmax;
	justify-content: flex-start;
}

header div {
	margin-left: auto;
}

header div a {
	
}
/* LANDING.JSP */
#login-form {
	margin-left: auto;
	justify-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
}

#login-form p input {
	margin: .2em 0;
	float: right;
	padding: .3em;
	border-radius: 4px;
	border: none;
}

#login-form input[type=submit] {
	color: #000;
	margin: .2em 0 0 auto;
	font-family: 'Righteous', cursive;
	width: 60%;
	border-radius: 2px;
	border: none;
	padding: .5em;
	background-color: #fff;
	margin: .2em 0 0 auto;
}

#landing-main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

#registration-box {
	background-color: #ED6146;
	padding: 3em;
	border-radius: 5px;
}

#registration-box h2 {
	text-align: center;
}

#registration-form {
	display: flex;
	flex-direction: column;
}

#registration-form input {
	margin: 0 0 1em 0;
	border-radius: 5px;
	border: none;
	padding: .7em;
}

#registration-form input[type=submit] {
	font-family: 'Righteous', cursive;
	width: 60%;
	margin: auto;
	border-radius: 2px;
	border: none;
	padding: .7em 1em;
	background-color: #fff;
}
/*DASHBOARD.JSP*/
#dash-main {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	justify-content: space-around;
}

#dash-gacha {
	width: 100%;
	display: flex;
	justify-content: center;
}
#background-wrapper{
	height:100%;
	width:100%;
	opacity:1;
}

#open-modal {
	background-image:
		url("https://www.buyerads.com/files/images/main/header-bkg-crop2-mobile3.gif");
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	padding: 1em;
	border: none;
	margin: 1em auto;
	font-family: 'Righteous', cursive;
	padding: 1.2em;
	font-size: 1.2em;
	box-shadow: 2px 2px 2px grey;
}

#modal {
	width: 50%;
	height: 50%;
	margin: auto;
	background-color: #000;
	position: absolute;
	top: 20%;
	left: 25%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	display: none;
}

#modal button {
	padding: .2em;
	position: absolute;
	top: 1%;
	left: 95%;
	position: absolute;
	font-size: 1.5em;
	border-radius:2px;
	border:none;
}

#modal img {
	height: 50%;
}

#modal h1 {
	text-align: center;
}

#open-box {
	font-size: 1.2em; padding : .8em;
	border-radius: 5px;
	font-family: 'Righteous', cursive;
	border: solid black 2px;
	padding: .8em;
}

#dash-gacha form {
	width: auto;
}

#dash-gacha form input {
	font-family: 'Righteous', cursive;
	padding: 1em;
	margin: 1em;
	background-color: #fff;
	border: solid black 2px;
	border-radius: 5px;
}

.dash-button {
	margin: .2em 0; font-family : 'Righteous', cursive;
	border-radius: 2px;
	border: none;
	padding: .5em .2em;
	font-size: 1em;
	font-family: 'Righteous', cursive;
}

.bodypart {
	border-radius: 5px;
	height: 40vmax;
	width: 20vmax;
	padding: 2em;
	background-color: #000;
	height: 20vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.search-container input[type=text] {
	padding: .6em 0;
}

#play {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.play-button {
	font-family: 'Righteous', cursive;
	font-size: 1.2em; padding : 1em;
	margin: 1em;
	border: none; background-color : #fff;
	border-radius: 5px;
	background-color: #fff;
	padding: 1em;
}